/* Set default values for all elements */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
}

/* Set background color and font color for body element */
body {
  background-color: #fff;
  color: black;
}

/* Set background color for navbar toggler icon */
.navbar-toggler-icon {
  background-color: green;
}

/* Set styles for the navbar element */
.navbar {
  position: fixed; /* Position the navbar element */
  top: 0; /* Place the navbar at the top of the page */
  height: 10%;
  width: 100%; /* Set the width of the navbar to 100% */
  z-index: 999; /* Set the z-index of the navbar to 999 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box-shadow to the navbar */
  padding: 20px; /* Add padding to the navbar */
  background-color: black; /* Set the background color of the navbar */
}

/* Set styles for the navbar brand element */
.navbar-brand {
  font-size: 30px; /* Set the font size of the navbar brand */
  font-weight: 700; /* Set the font weight of the navbar brand */
  color: rgba(36, 231, 36, 0.897) !important; /* Set the color of the navbar brand */
}

/* Set styles for the navbar links */
.nav-link {
  font-size: 20px; /* Set the font size of the navbar links */
  font-weight: 500; /* Set the font weight of the navbar links */
  margin-left: 20px; /* Add margin to the left of the navbar links */
  color: rgba(36, 231, 36, 0.897) !important; /* Set the color of the navbar links */
}

/* Set styles for the hover effect on navbar links */
.nav-link:hover {
  color: #fff; /* Set the color of the navbar links on hover */
  text-decoration: underline; /* Add an underline to the navbar links on hover */
}

/* Set styles for the navbar navigation links aligned to the right */
.navbar-nav.ml-auto {
  margin-left: auto; /* Align the navbar navigation links to the right */
}
/* Styles for the home section */

#home {
  background-size: cover; /* set the background image size to cover the entire section */
  background-color: black; /* fallback background color in case the image fails to load */
  height: 100vh; /* set the height of the section to 100% of the viewport height */
}

#home h1,
#home p {
  color: #fff; /* set the color of the text to white */
}

#home h1 span{
  color: rgba(36, 231, 36, 0.897); /* set the color of the span element within the h1 tag to a green shade */
}
#home p span{
  color: rgba(36, 231, 36, 0.897); /* set the color of the span element within the p tag to a green shade */
}

#home p{
  color: #fff; /* set the color of the text within the p tag to white */
  font-size: 24px; /* set the font size of the text within the p tag to 24 pixels */
}

.image-container {
  display: flex; /* use flexbox to align the content of the container */
  justify-content: center; /* horizontally center the content within the container */
  align-items: center; /* vertically center the content within the container */
  height: 100%; /* set the height of the container to 100% */
}

.round-shape {
  height: 80vh; /* set the height of the container to 80% of the viewport height */
  width: 150%; /* set the width of the container to 150% of its parent container */
  border-radius: 50%; /* make the container circular */
  overflow: hidden; /* hide any content that overflows the container */
  background-color: black; /* set the background color of the container to a green shade */
}

.round-shape img {
  height: 100%; /* set the height of the image to 100% of its parent container */
  width: 100%; /* set the width of the image to 100% of its parent container */
  object-fit: cover; /* scale the image to cover the entire container while preserving its aspect ratio */

}.social-icons a {
  color: rgba(36, 231, 36, 0.897)  !important; /* Sets color of social icon links */
  padding-right: 5px;
}

.social-icons {
  display: flex; /* Displays social icons in a row */
  justify-content: left; /* Aligns social icons to the left */
  align-items: center; /* Aligns social icons vertically */
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes social icons round */
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Adds transition effect to social icons */
}

.social-icons:not(:last-child) {
  margin-right: 10px;
}

#about {
  background-color: whitesmoke;
  padding: 10px 0;
}

#about .container {
  display: flex; /* Displays content of about section in a row */
  align-items: center; /* Aligns content vertically */
  justify-content: space-between; /* Adds space between content items */
}

#about .image-container {
  max-width: 400px;
}

#about .image-container img {
  width: 100%; /* Sets width of about section image to 100% */
  height: auto; /* Sets height of about section image to auto */
}

#about h2{
  color: green; /* Sets color of about section heading */
}

#about p{
  color: green; /* Sets color of about section paragraph */
  font-size: 18px; /* Sets font size of about section paragraph */
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 15px;
}

.service {
  text-align: center;
  padding: 30px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service i {
  color: green;
  margin-bottom: 20px;
}

.container h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  color: green;
}

.service h4 {
  font-weight: bold;
  margin-bottom: 20px;
  color: green;
}

.service p {
  font-size: 16px;
  line-height: 1.5;
  color: green;
}


#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#scrollToTopBtn:hover {
  background-color: green;
  color: black;
}
















































@media only screen and (max-width: 768px) {
  /* Add padding to content area to push it below the navbar */
  #home {
    padding-top: 80px;
    margin-top: 30px;
  }

  /* Navbar styles */
  .navbar-brand {
    font-size: 20px;
    font-weight: 600;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* Move image above short intro on smaller screens */
  #home .row {
    flex-direction: column-reverse;
  }
  
  /* Adjust height of image container */
  #home .image-container {
    height: 50%;
    width: 80%;
  }
  
  /* Adjust height of round shape */
  #home .round-shape {
    height: 70vh;
  }

  /* Center text on smaller screens */
  #home .col-lg-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
}

@media (max-width: 768px) {
  .social-icons {
    position: relative;
    top: 20px;
  }
}

