* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
}

body {
  background-color: #880ed4;
  color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #880ed4;
}


.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: white !important;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  color: white !important;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.navbar-nav.ml-auto {
  margin-left: auto;
}

#home {
  background-size: cover;
  background-color: transparent;
  height: 100vh;
}

#home h1,
#home p {
  color: #880ed4;
}

#home p{
  color: #880ed4;
  font-size: 24px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.round-shape {
  height: 80vh;
  width: 150%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #880ed4;
}

.round-shape img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.social-icons a {
  color: #880ed4;
  padding-right: 5px;
}

.social-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
  color: #880ed4;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.social-icons:not(:last-child) {
  margin-right: 10px;
}

.twitter-icon:hover {
  color: #fff;
  border-radius: 50%;
  background-color: #880ed4;
}

.linkedin-icon:hover {
  color: #fff;
  border-radius: 50%;
  background-color: #880ed4;
}

.github-icon:hover {
  color: #fff;
  border-radius: 50%;
  background-color: #880ed4;
}



@media only screen and (max-width: 768px) {
  /* Add padding to content area to push it below the navbar */
  #home {
    padding-top: 80px;
    margin-top: 80px;
  }

  /* Navbar styles */
  .navbar-brand {
    font-size: 20px;
    font-weight: 600;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* Move image above short intro on smaller screens */
  #home .row {
    flex-direction: column-reverse;
  }
  
  /* Adjust height of image container */
  #home .image-container {
    height: 50%;
    width: 80%;
  }
  
  /* Adjust height of round shape */
  #home .round-shape {
    height: 70vh;
  }

  /* Center text on smaller screens */
  #home .col-lg-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
}
